.serviceSection {
  padding: 15px;
  display: flex;
  flex-direction: row;
  //align-items: center;
  justify-content: center;
  min-height: 110vh;
  gap: 1rem;
  background-color: #ebd9cd;
  padding-bottom: 50px;
}
.serviceText {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  width: 100%;
  .img-div-aboutRight {
    display: flex !important;
    flex-direction: column !important;
    height: auto;
    align-items: center;
    gap: 2px;
    img {
      border-radius: 50%;
    }
  }
}
.motto {
  display: flex;
  justify-content: center;
  max-width: 100%;
  font-family: 'Cormorant Garamond', serif;
  font-weight: 500;
  font-size: 24px;
  line-height: 38px;
  letter-spacing: -0.325px;
  text-transform: uppercase;
  color: #000 !important;
}
.mottoSubtitle {
  display: flex;
  align-items: center;
  max-width: 100%;
  padding: 0px 200px 0px;
  font-family: 'Nunito', sans-serif;
  font-weight: 400 !important;
  font-size: 0.8333333333vw;
  line-height: 25px;
  letter-spacing: 0px;
  text-transform: none;
  color: #2e2e2e;
  margin-top: 20px;
  text-align: center;
}
.serviceButtons {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  justify-content: space-between;
  button {
    width: 150px;
    height: 45px;
    cursor: pointer;
    font-family: 'Lato', sans-serif;
    font-size: medium;
    border: 1px solid rgb(15, 210, 210);
    border-radius: 50px;
    color: rgb(127, 127, 127);
    background-color: white;
    box-shadow: 0px;
    transition: color 0.2s ease-in-out, background-color 0.2s ease-in-out,
      box-shadow 0.2s ease-in-out;
  }
  button:hover,
  button:focus {
    color: white;
    background-color: rgb(15, 210, 210);
    box-shadow: 0px 0px 12px 4px rgb(154, 239, 239);
  }
}
.serviceImage {
  max-width: 100%;
  height: auto;
  opacity: 0;
  transform: translateX(-20px);
  transition: opacity 0.6s ease, transform 0.6s ease;
}

.fadeIn {
  opacity: 1;
  transform: translateY(0px);
}
.service-img-div {
  display: flex;
  flex-direction: column;
  gap: 10px;
  overflow: hidden;
}
.service-img {
  height: 400px;
  width: 400px;
}
.title-div {
  display: flex;
  flex-direction: column;
  gap: 10px;
  p {
    font-size: 12px;
    line-height: 15px;
  }
  a {
    text-decoration: none;
    font-size: 13px;
    font-weight: bold;
  }
}
.title-div-header {
  font-family: 'Nunito', sans-serif, 'HelveticaNeue', 'Helvetica Neue',
    Helvetica, Arial, sans-serif;
  font-size: 13px;
  line-height: 1.8;
  letter-spacing: 0.065px;
  font-weight: 600;
  color: #333;
  margin: 0;
  overflow-x: hidden;
  background: transparent;
}
.read-more-div {
  display: flex;
  flex-direction: column;
  gap: 6px;
}
.divider-div {
  height: 5px;
  width: 100px;
  background-color: orange;
}
//MEDIA QUERIES
@media screen and (max-width: 1200px) {
  .serviceSection {
    margin-top: 0px;
    flex-direction: column;
  }

  .serviceText {
    display: flex;
    //font-size: 1vw;
    align-items: center;
    text-align: center;
  }
  .serviceButtons {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  .service-img-div {
    display: flex;
    align-items: center;
  }
  .service-img {
    position: static;
    left: 210px;
  }
  .read-more-div {
    display: flex;
    flex-direction: column;
    gap: 6px;
    align-items: center;
  }
}
@media screen and (max-width: 320px) {
  .serviceSection {
    padding: 15px;
  }
  .serviceText {
    display: flex;
    //font-size: 50px;
    align-items: center;
    text-align: center;
  }
  .serviceButtons {
    display: flex;
    flex-direction: column;

    gap: 10px;
  }
  .service-img-div {
    display: flex;
    align-items: center;
  }
  .service-img {
    position: relative;
    left: 5px;
  }
  .read-more-div {
    display: flex;
    flex-direction: column;
    gap: 6px;
    align-items: center;
  }
}
