@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&family=Teko:wght@300;400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Black+Ops+One&display=swap');
$sideMenuGap: 2rem;
$logoFont: 'Permanent Marker', cursive;
$normalFont: 'Teko', sans-serif;
$navBtnFont: 'Montserrat', sans-serif;

.welcomeSection {
  display: block;
  position: relative;
  z-index: 0;

  // flex-direction: row;
  // align-items: center;
  //justify-content: center;
  //gap: 1rem;
  background-color: rgba(235, 227, 219, 1);
  // background-image: url('/public/images/footMs.jpg');
  // background-position: center;
  // background-repeat: repeat;
  // background-attachment: scroll;
  // background-size: cover;
  min-height: 110vh;
  //opacity: 0.6;
  background-color: rgba(254, 254, 245, 0.6);
}
.welcomeSection-main {
  img {
    position: absolute;
    z-index: 1;
    height: 110vh;
    width: 100%;
  }
}
.welcomeText {
  top: 40%;
  left: 40%;
  position: absolute;
  z-index: 2;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  align-items: center;
  justify-content: center;
  span {
    font-family: 'Cormorant Garamond', serif;
    font-weight: 700;
    font-size: 13px;
    line-height: 45px;
    letter-spacing: 6.5px;
    text-transform: uppercase;
    color: rgba(58, 45, 40, 1);
    margin-bottom: 30px;
  }
}
.mottos {
  max-width: 600px;

  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Cormorant Garamond', serif;
  font-weight: 400;
  font-size: 24px !important;
  line-height: 28px;
  letter-spacing: -0.325px;
  text-transform: uppercase;
  color: rgb(58, 45, 40) !important;
}
.mottoSubtitle {
  max-width: 600px;
  font-size: 20px;
  font-weight: bold !important;
  color: rgb(7, 7, 7) !important;
}
.welcomeButtons {
  display: flex;
  flex-direction: row;

  gap: 1rem;
  button {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    justify-content: center;
    align-content: center;
    width: 200px;
    height: 60px;
    cursor: pointer;
    font-family: 'Cormorant Garamond', serif;
    font-weight: 700;
    font-size: 13px;
    line-height: 30px;
    letter-spacing: 0.325px;
    text-transform: uppercase;
    color: rgb(58, 45, 40);
    padding-left: 8px;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
    border: none;
    border-radius: 0;
    background-color: transparent;
    box-shadow: 0px;
    transition: color 0.2s ease-in-out, background-color 0.2s ease-in-out,
      box-shadow 0.2s ease-in-out;
  }
  button:hover,
  button:focus {
    color: rgb(58, 45, 40);
    font-size: 16px;
    background-color: transparent;
    // box-shadow: 0px 0px 12px 4px rgb(154, 239, 239);
  }
}
.welcomeImage {
  max-width: 100%;
  height: auto;
  opacity: 0;
  transform: translateX(-20px);
  transition: opacity 0.6s ease, transform 0.6s ease;
}

.fadeIn {
  opacity: 1;
  transform: translateY(0px);
}

//MEDIA QUERIES
@media screen and (max-width: 1300px) {
  .welcomeSection {
    //margin-top: 100px;
    flex-direction: column;
  }
  .welcomeText {
    display: flex;
    align-items: center;
    text-align: center;
    left: 30%;
  }
  .welcomeSection-main {
    img {
      width: 100%;
    }
  }
}
@media screen and (max-width: 630px) {
  .welcomeSection {
    //margin-top: 75px;
    //padding-left: 15px;
    padding-right: 15px;
    width: 100%;
  }
  .welcomeText {
    left: 20%;
  }
  .welcomeSection-main {
    width: 100%;

    img {
      width: 100%;
    }
  }
}
