.aboutSection {
  display: flex;
  flex-direction: row;
  padding: 20px;
  //justify-content: center;
  align-items: center;
  gap: 1rem;
  background-color: #ebd9cd;
  min-height: 110vh;
}
.aboutImage {
  flex: 1;
  max-width: 100%;
  height: auto;
  opacity: 0;
  padding: 10px;
  transform: translateX(20px);
  transition: opacity 0.6s ease, transform 0.6s ease;
}
.fadeIn {
  opacity: 1;
  transform: translateY(0px);
}

.aboutRight {
  flex: 1;
  height: 90vh;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  align-items: center;
  justify-content: center;
  background-color: #efefe9;
  box-shadow: 2px 2px 2px 2px gray;
  .img-div-aboutRight {
    display: flex !important;
    flex-direction: column !important;
    height: auto;
    align-items: center;
    img {
      border-radius: 50%;
    }
  }
}
.header {
  max-width: 600px;
  font-family: 'Cormorant Garamond', serif;
  font-weight: 500;
  font-size: 24px;
  line-height: 38px;
  letter-spacing: -0.325px;
  text-transform: uppercase;
  color: #000;
}
.body {
  display: flex;
  align-items: center;
  width: 450px;
  font-family: 'Nunito', sans-serif;
  font-weight: 400;
  font-size: 0.8333333333vw;
  line-height: 25px;
  letter-spacing: 0px;
  text-transform: none;
  color: #2e2e2e;
  margin-top: 20px;
  text-align: center;
}
.button-about {
  display: flex;
  flex-direction: column;
  gap: 6px;
  align-items: center;
  a {
    text-decoration: none;
    font-size: 13px;
    font-weight: bold;
  }
  .divider-div-about {
    height: 5px;
    width: 100px;
    background-color: orange;
  }
}

//MEDIA QUERIES
@media screen and (max-width: 1200px) {
  .aboutSection {
    flex-direction: column-reverse;
  }
  .aboutRight {
    display: flex;
    align-items: center;
    text-align: center;
  }
  .body {
    width: 80%;
  }
}
@media screen and (max-width: 425px) {
  .aboutSection {
    padding: 15px;
  }
}
