//VARIABLES
@import url("https://fonts.googleapis.com/css2?family=Rubik+Bubbles&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Permanent+Marker&family=Teko:wght@300;400;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Black+Ops+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200&display=swap");

$sideMenuGap: 2rem;
$logoFont: "Permanent Marker", cursive;
$normalFont: "Teko", sans-serif;
$navBtnFont: "Montserrat", sans-serif;
$rubikBubbles: "Rubik Bubbles";
$Montserrat: "Montserrat";

hr {
  border: 0.5px solid rgba(169, 169, 169, 0.438);
  border-radius: 50px;
}

//NAVIGATION BAR
.navBar {
  top: 0;
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: space-between; //
  align-items: center;
  background-color: rgba(58, 45, 40, 0.3);
  border-bottom-style: solid;
  border-bottom-color: rgba(239, 239, 239, 0.4);
  // padding-left: 50px;
  // padding-right: 50px;
  padding-left: 5px;
  padding-right: 5px;
  box-sizing: border-box;
  width: 100%;
  height: 135px;
  z-index: 2;
  gap: 0;
}
.header-main {
  width: 100%;
  height: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(58, 45, 40);
}
.header-div {
  width: 100%;
  height: 20%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 13px;
  font-family: $normalFont;
  color: white;
  font-weight: bolder;
}

.leftSection-main {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  gap: 2rem;
  width: 100%;
  height: 80%;
}
//LEFT SECTION OF NAVBAR
.leftSection {
  display: flex;
  align-items: center;
  gap: 2rem;
  height: 100%;
  // padding-left: 30px;
}

//COMPANY LOGO
.companyLogo {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.7rem;
  width: max-content;
  height: max-content;
  margin-top: 15px;
  margin-bottom: 15px;
  font-family: $Montserrat;
  font-size: 28px;
}
.companyLogo:hover {
  cursor: pointer;

  h1 {
    color: rgb(255, 252, 252);
    font-size: 43px;
    text-shadow: 0px 0px 12px rgb(256, 235, 245);
  }
}
a:focus > .companyLogo > h1 {
  color: rgb(15, 210, 210);
}
.companyLogo h1 {
  color: rgb(255, 252, 252);
  user-select: none;
  margin: 0;
  font-weight: bolder;
  transition: color 0.2s ease-in-out;
}
.companyLogo img {
  user-select: none;
  width: 200px;
  height: 90px;
  border-radius: 2%;
}
.companyLogo img:hover {
  box-shadow: 0px 0px 12px 4px rgb(256, 235, 245);
}

//NAV DROPDOWNS
.navBtns {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
.navBtns button {
  font-family: $navBtnFont;
  font-size: 11px;
  font-weight: 900;
  color: rgb(255, 252, 252);
  background-color: transparent;
  outline: none;
  user-select: none;
  height: 25px;
  border-radius: 20px;
  border: none;
  transition: color 0.2s ease-in-out;
}
.navBtns button:hover,
.navBtns button:focus {
  cursor: pointer;
  color: rgba(255, 252, 252);
  font-size: 12px;
  // box-shadow: 0px 0px 20px rgb(255, 252, 252);
}
.navDropdown {
  display: flex;
  flex-direction: row;
  position: relative;
  gap: 1rem;
}
.aboutDropdownMenu,
.serviceDropdownMenu {
  left: 0%;
  top: 100%;
  position: absolute;
  padding: 0px 15px 15px 15px;
  border: solid rgb(239, 239, 239);
  background-color: white;
  border-top-color: white;
  box-shadow: 0px 4px 4px 1px rgb(217, 217, 217);
  opacity: 0;
  transform: translateY(-10px);
  transition: opacity 0.1s ease-in-out, transform 0.1s ease-in-out;
  z-index: 2;
  h3 {
    color: rgb(127, 127, 127);
  }
}
.aboutDropdownMenu {
  width: 300px;
}
.serviceDropdownMenu {
  display: grid;
  grid-template-columns: repeat(2, 200px);
}
.navDropdown button:hover + [class*="DropdownMenu"],
.navDropdown button:focus + [class*="DropdownMenu"],
.navDropdown button + [class*="DropdownMenu"]:hover {
  visibility: visible;
  opacity: 1;
  transform: translateY(0px);
}
.navDropdown button + [class*="DropdownMenu"] {
  visibility: hidden;
}
.navDropdown a {
  outline: none;
  transition: color 0.2s ease-in-out;
}
.navDropdown a:hover,
.navDropdown a:focus {
  color: rgb(12, 157, 157);
}

//RIGHT SECTION OF NAVBAR
.rightSection {
  display: flex;
  align-items: center;
  // position: relative;
  // left: 109px;

  justify-content: center;
}

//LOGIN/SIGN UP SECTION
.accountSection {
  display: flex;
  gap: 1rem;
  align-items: center;
  justify-content: center;
  width: 125px;
}

.accountSection button {
  //width: 125px;

  height: 25px;
  border-radius: 20px;
  cursor: pointer;
  // user-select: none;
  outline: none;
  font-family: $navBtnFont;
  font-size: 11px;
  font-weight: 900;
  color: rgb(253, 253, 253);
  background-color: transparent;
  border: none;
  border-radius: 50px;
  transition: color 0.2s ease-in-out, background-color 0.2s ease-in-out,
    border-color 0.2s ease-in-out;
}
.accountSection button:hover,
.accountSection button:focus {
  color: rgb(253, 253, 253);
  // box-shadow: 0px 0px 20px rgb(255, 252, 252);
  font-size: 12px;

  // background-color: rgb(15, 210, 210);
  // border-color: rgb(15, 210, 210);
}

.profile_section {
  display: flex;
  gap: 1rem;
}

.profile_section button {
  width: 50px;
  height: 50px;
  background-color: rgb(127, 127, 127) !important;
}

//MENU SECTION & BUTTON
.menuSection {
  display: none;
  height: 50px;
  width: 50px;
}
.menuBtn,
.hideBtn {
  width: 30px;
  height: 30px;
  cursor: pointer;
  color: rgb(22, 12, 12);
}

//SIDE MENU
.sideMenu {
  position: fixed;
  display: none;
  flex-direction: column;
  gap: $sideMenuGap;
  bottom: 0;
  right: 0;
  width: 350px;
  height: 82.1%;
  padding: 15px;
  border: 1px solid transparent;
  border-radius: 10px;

  // border-left-color: rgb(239, 239, 239);
  background-color: rgba(169, 169, 169, 0.438);
  box-shadow: none;
  h1 {
    color: rgb(162, 162, 162);
    user-select: none;
    text-align: center;
  }
}
.sideMenuContent {
  display: flex;
  flex-direction: column;
  align-content: space-between;

  // gap: 20rem;
}
.sideMenuSiteSections {
  display: none;
  flex-direction: column;
  gap: 3rem;

  button {
    cursor: pointer;
    background-color: white;
    border: 1px solid transparent;
    font-family: "Lato", sans-serif;
    user-select: none;
    font-size: large;
    transition: color 0.2s ease-in-out;
  }
  button:hover {
    color: rgb(15, 210, 210);
  }
}
.loginSignUpSection {
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 1rem;
}
.sideMenuAccountBtns {
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 1rem;
  button {
    height: 50px;
    font-family: "Lato", sans-serif;
    font-size: medium;
    font-weight: bolder !important;
    color: rgb(7, 7, 7);
    background-color: white;
    outline: none;
    user-select: none;
    border: solid 1px rgb(209, 209, 209);
    border-radius: 50px;
    transition: color 0.2s ease-in-out, background-color 0.2s ease-in-out,
      border-color 0.2s ease-in-out;
  }
  button:hover {
    cursor: pointer;
    color: white;
    background-color: rgb(15, 210, 210);
    border-color: rgb(15, 210, 210);
  }
}
.disclaimer {
  display: flex;
  user-select: none;
  padding: 0px 15px 0px 15px;
  justify-content: center;
}

.ant-avatar-string {
  height: 100% !important;
  width: 100% !important;
  display: flex;
  align-items: center;
  justify-content: center;
}

//MEDIA QUERIES
@media only screen and (max-width: 1200px) {
  .sideMenu {
    display: flex;
  }
  .sideMenuContent {
    display: flex;
    gap: 1rem;
  }
  .loginSignUpSection {
    gap: 1rem;
  }
  .menuSection {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .menuBtn,
  .hideBtn {
    margin-top: 10px;
  }
  .accountSection_btn {
    display: none;
  }
  .disclaimer {
    padding: 0 0 0 0 !important;
  }
  .rightSection {
    align-items: center;
    justify-content: center;
  }
}

@media only screen and (max-width: 985px) {
  .sideMenuSiteSections {
    display: flex;
  }
  .loginSignUpSection {
    gap: 1rem;
  }
  .navBtns {
    display: none;
  }

  .leftSection-main {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }
  .rightSection {
    align-items: center !important;
    justify-content: center !important;
  }
}
/*For Mobile*/
@media only screen and (max-width: 500px) {
  .sideMenuSiteSections {
    margin-top: 10px;
    gap: 2rem;
  }
  .sideMenuAccountBtns {
    gap: 1rem;
  }
  .sideMenu {
    bottom: 2.5%;
    width: 92%;
    gap: 1rem;
  }
  .navBar {
    //padding-left: 15px;
    padding-right: 5px;
  }
  .accountSection {
    display: none;
  }
  .rightSection {
    position: static;
  }
}
