@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');

body {
  margin: 0;
  background-image: url('/public/images/massage-therapy-1612308_1280.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

.App {
  font-family: 'Lato', sans-serif;
}
