@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap");

body,
html {
  margin: 0;
  background-color: #ebd9cd;
  overflow: scroll;
}

.App {
  font-family: "Lato", sans-serif;
}
